:root {
  --background-body-color: #ffffff;
  --primary-text-color: #434455;
  --titel-text-color: #2e2f42;
  --button-text-color: #4d5ae5;
  --button-hover-background: #404bbf;
  --second-background-color: #f4f4fd;
  --footer-text-color: #e7e9fc;
  --custom-color: #8e8f99;
  --bg-gradient: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7));
  --modal-bg: #fcfcfc;
}

.list {
  list-style: none;
  margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
ul {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.title-container {
  margin-bottom: 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* --------------Тіло сторінки ------------------*/

body {
  margin: 0;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

.shadow-port-head {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header {
  border-bottom: 1px solid #e7e9fc;
}

.section {
  padding: 96px 0;
}

/*-------------------Логотип--------------------- */

.link {
  text-decoration: none;
}

.logo {
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Raleway', sans-serif;
  color: var(--button-text-color);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
}

.studio {
  color: var(--titel-text-color);
}

/*---------------------- Навігація------------------ */
.nav-menu-button {
  position: absolute;
  top: 24px;
  right: 16px;
  background-color: transparent;
  stroke: var(--titel-text-color);
  border: none;
}

.nav-menu {
  display: flex;
  gap: 40px;
  display: none;
}

.nav {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-container {
  display: flex;
  margin-right: auto;
}

.nav-link.current {
  color: var(--button-hover-background);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--button-hover-background);
}

.nav-link {
  display: block;
  position: relative;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
  color: var(--titel-text-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address-list {
  display: none;
}

/* -------------------Мобільне меню---------------- */
.mobile-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  max-width: 767px;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: #fff;
  overflow-y: scroll;

  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.is-open {
  transform: translateX(0);
}

.menu-mobile-container {
  position: relative;
  padding-top: 80px;
  padding-bottom: 40px;
  padding-left: 40px;
  padding-right: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.close-menu-mobile {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--titel-text-color);
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-icon-close {
  fill: currentColor;
}

.close-menu-mobile:hover,
.close-menu-mobile:focus {
  background: var(--button-hover-background);
  color: var(--background-body-color);
}

.mobile-list-item {
  min-width: 151px;
  color: var(--titel-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 40px;
}

.mobile-address {
  margin-bottom: 48px;
}
.mobile-list-item:nth-child(3n) {
  margin-bottom: 0;
}

.mobile-address-items {
  margin-bottom: 40px;
}

.mobile-address-items:nth-child(2n) {
  margin-bottom: 0;
}

.mobile-address-item {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2px;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  margin: 0 auto;
}

.mobile-address-list .mobile-address-item:hover,
.mobile-address-list .mobile-address-item:focus {
  color: var(--button-text-color);
}

.tel-styles {
  font-weight: 700;
  font-size: 26px;
  line-height: 1.11;
  color: var(--button-text-color);
}

@media screen and (min-width: 428px) {
  .tel-styles {
    font-size: 36px;
  }

  .mobile-soc-list {
    gap: 56px;
  }
}

.mobile-soc-list {
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.mobile-soc-item {
  width: 40px;
  height: 40px;
}

.mobile-soc-link {
  min-width: 100%;
  min-height: 100%;
  border-radius: 50%;
  background-color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-soc-icon {
  fill: #f4f4fd;
}

.mobile-soc-link:hover,
.mobile-soc-link:focus {
  background-color: var(--button-hover-background);
}

.mobile-list-item .nav-link.current {
  color: var(--button-hover-background);
}
/* ------------------Головна частина--------------- */
.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  max-width: 428px;
  /* outline: 2px solid tomato; */
  /* background-color: aqua; */
}
/* -----------------------Герой --------------------------*/
.hero {
  padding: 112px 0;
  margin: 0 auto;
  text-align: center;
  background-color: var(--titel-text-color);
  background-image: var(--bg-gradient), url(../images/mob-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: var(--bg-gradient), url(../images/mob-hero@2x.jpg);
  }
}

@media screen and (min-with: 428px) {
  .hero {
    background-image: var(--bg-gradient), url(../images/tablet-hero.jpg);
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: var(--bg-gradient), url(../images/tablet-hero@2x.jpg);
    }
  }
}

.hero-title {
  max-width: 320px;
  margin: 0 auto 72px auto;
  font-size: 36px;
  color: var(--background-body-color);
  font-weight: 700;
  line-height: 1.1;
  letter-spacing: 0.02em;
  text-align: center;
}

.hero-button:focus,
.hero-button:hover {
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
}

.hero-button {
  text-align: center;
  min-width: 169px;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/*-------------------- Рішення--------------------- */

.solutions-text-title {
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
  text-align: center;
}

.solutions-text {
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.5;
}

.solutions-text-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  row-gap: 72px;
}

/* ----------------Приклади робіт ----------------------*/
.example {
  display: none;
}

/* ------------------- Команда ------------------------------*/

.team {
  background: var(--second-background-color);
}

.container-team-card {
  padding: 32px 0;
}

.team-name {
  text-align: center;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}
.team-text {
  text-align: center;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-card {
  background-color: var(--background-body-color);
  /* width: calc((100% - 72px) / 4);
  margin-right: 24px; */
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin: 0 auto;
}

/* .team-card:nth-child(4n) {
  margin-right: 0;
} */

.team-list {
  display: flex;
  flex-direction: column;
  row-gap: 72px;
}

.team-soc-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-soc-icon {
  fill: #ffffff;
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--button-hover-background);
}

/* ----------------------Клієнти------------------------ */
.title-customers {
  margin-bottom: 72px;
}
.customers-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 72px;
  column-gap: 16px;
  justify-content: center;
}

.customers-list-item:nth-child(6n) {
  margin-right: 0;
}

.customers-link {
  display: flex;
  border: 1px solid var(--custom-color);
  height: 88px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  padding: 16px 32px;
  color: var(--custom-color);
  transition-property: border, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-icon {
  fill: currentColor;
}
.customers-link:focus,
.customers-link:hover {
  border: 1px solid var(--button-hover-background);
  color: var(--button-hover-background);
}

/* ---приклад альтернативний--- */

/* .customers-link:hover {
  border: 1px solid var(--button-hover-background);
}

.customers-link:hover .customers-icon {
  fill: #404bbf;
} */

/*-------------------- Портфоліо --------------------*/

.section.samples {
  padding-top: 96px;
}
.samples-bar {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 72px;
  align-items: left;
  gap: 24px;
}

.samples-pic {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
  /* flex-wrap: wrap; */
}

.samples-list {
  margin: 0 auto;
}

.samples-lists {
  display: block;
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* .samples-list:nth-child(3n) {
  margin-right: 0;
} */

/* .samples-list:nth-last-child(-n + 3) {
  margin-bottom: 0;
} */
.samples-lists:focus,
.samples-lists:hover {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.samples-pic-container {
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #e7e9fc;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #e7e9fc;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #e7e9fc;
  padding: 32px 16px;
}
.bar-btn {
  border: 1px solid #e7e9fc;
  border-radius: 4px;
  padding: 12px 24px;
  font-family: 'Roboto', sans-serif;
  color: var(--button-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--second-background-color);
  transition-property: background, color, box-shadow, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.bar-btn:focus,
.bar-btn:hover {
  background: var(--button-hover-background);
  color: var(--background-body-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  border-color: var(--button-hover-background);
}

.samples-lists:hover .samples-tumba-text,
.samples-lists:focus .samples-tumba-text {
  transform: translateY(0);
}
/* .samples-list:focus .samples-tumba-text {
  transform: translateY(0);
} */

.samples-tumba-text {
  position: absolute;
  top: 0;
  transform: translateY(100%);
  transition: transform 250ms;
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 40px 32px;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: var(--second-background-color);
  background-color: var(--button-text-color);
  letter-spacing: 0.02em;
  height: 100%;
}

.samples-tumb {
  position: relative;
  overflow: hidden;
}

.samples-titel {
  font-weight: 500;
  font-size: 20px;
  margin-bottom: 8px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--titel-text-color);
}

.samples-text {
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}

/* ------------------------Підвал--------------------------- */

.footer {
  background: var(--titel-text-color);
  padding: 96px 0;
}

.footer-logo {
  text-decoration: none;
  text-transform: uppercase;
}

.footer-logo {
  display: block;
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-align: center;
  line-height: 1.17;
  letter-spacing: 0.03em;
  margin-bottom: 16px;
  color: var(--button-text-color);
}

.footer-studio {
  color: var(--second-background-color);
}

.footer-text {
  color: var(--footer-text-color);
  letter-spacing: 0.02em;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  gap: 72px;
  justify-content: center;
  margin: 0 auto;
}

.footer-logo-container {
  width: 264px;
  /* outline: 1px solid red; */
}

.footer-soc-container {
  gap: 72px;
  justify-content: center;

  /* outline: 1px solid red; */
}

.footer-soc-titel {
  color: var(--footer-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--button-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-soc-icon {
  fill: #ffffff;
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  width: 453px;
  /* outline: 1px solid red; */
}

.footer-form {
  justify-content: center;
  gap: 24px;
}

.footer-input {
  font-size: 12px;
  line-height: 2;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--background-body-color);
  padding: 8px 16px;
  width: 100%;
  height: 40px;
  border: 1px solid var(--background-body-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: transparent;
  margin-bottom: 16px;
}

.subscribe-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  padding: 8px 24px;
  margin: 0 auto;
  width: 165px;
  height: 40px;
  font-weight: 500;
  line-height: 1.5;
  background-color: var(--button-text-color);
  color: var(--background-body-color);
  fill: var(--background-body-color);
  border-color: transparent;
  border-radius: 4px;
  transition-property: background-color, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus {
  color: var(--background-body-color);
  font-weight: 500;
  line-height: 1.5;
  background: var(--button-hover-background);
}

/* --------------------Модальне вікно---------------------- */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.modal {
  position: absolute;
  width: 100%;
  max-width: 392px;
  padding: 72px 24px 24px 24px;
  top: 50%;
  left: 50%;
  background: var(--modal-bg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scaleY(1);
  transition: transform 250ms linear;
}
@media screen and (max-width: 1157px) {
  .modal {
    overflow-y: auto;
    max-height: 600px;
    height: 100%;
  }
}

@media screen and (max-width: 427px) {
  .modal {
    width: calc(100% - 30px);
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleY(2);
}

.modal-close {
  display: flex;
  position: absolute;
  top: 24px;
  right: 24px;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background: var(--footer-text-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: var(--titel-text-color);
  transition-property: background, color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.close-icon {
  fill: currentColor;
}

.modal-close:hover,
.modal-close:focus {
  background: var(--button-hover-background);
  color: var(--background-body-color);
}

.no-scroll {
  overflow: hidden;
}

/* -------------------Форма Модалки----------------------- */

.modal-titel {
  color: var(--titel-text-color);
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.modal-input {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  padding-left: 38px;
  padding-top: 11px;
  padding-bottom: 11px;
  outline: transparent;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-input:focus {
  border-color: var(--button-text-color);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--button-text-color);
}

.modal-label-text {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: var(--custom-color);
}

.modal-input-wrap {
  position: relative;
}

.modal-field {
  display: block;
  margin-bottom: 8px;
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 19px;
  transform: translateY(-50%);
  fill: var(--titel-text-color);
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea-wrap {
  margin-bottom: 16px;
}

.modal-textarea {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  color: var(--primary-text-color);
  width: 100%;
  height: 120px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  background-color: transparent;
  border-radius: 4px;
  resize: none;
  padding: 8px 16px;
  letter-spacing: 0.04em;
  outline: transparent;
  transition-property: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
}

.modal-textarea:focus {
  border: 1px solid var(--button-text-color);
}

/* -----------------------Чекбокс----------------------- */
.modal-check-wrap {
  display: flex;
  margin-bottom: 24px;
}
.check-text {
  display: flex;
  gap: 8px;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  color: var(--custom-color);
  align-items: center;
}

.modal-link {
  color: var(--button-text-color);
  font-family: 'Roboto', sans-serif;
  text-decoration-line: underline;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.04em;
  align-items: center;
}

.check-text::before {
  content: '';
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  display: block;
}

.modal-check:checked + .check-text::before {
  background-color: var(--button-hover-background);
  border: none;
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: center;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-check:focus + .check-text::before {
  border-color: var(--button-hover-background);
}

/* -----------------------Modal-Submit-------------------------- */

.button-submit {
  display: block;
  margin: 0 auto;
  width: 169px;
  border-radius: 4px;
  border: 0;
  padding: 16px 32px;
  font-family: 'Roboto', sans-serif;
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--button-text-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-submit:focus,
.button-submit:hover {
  color: var(--background-body-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-hover-background);
}
