html {
  box-sizing: border-box;
}

:root {
  --text-color: #2e2f42;
  --butt-color: #4d5ae5;
  --butt-color-hover: #404bbf;
  --color-white: #ffffff;
  --color-main-font: #434455;
  --color-sec-font: #f4f4fd;
  --color-butt: #e7e9fc;
  --color-social: #4d5ae5;
  --color-hover-social: #31d0aa;
  --color-icon-customs: #8e8f99;
  --color-modal: #fcfcfc;
  --main-font: 'Roboto', sans-serif;
  --sec-font: 'Raleway', sans-serif;
}

body {
  background-color: var(--color-white);
  color: #434455;
  font-family: var(--main-font);
  letter-spacing: 0.02em;
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

ul,
li,
ol {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* Доп class  */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  text-align: center;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

.container {
  min-width: 320px;
  max-width: 428px;
  margin: 0 auto;
  padding: 0 16px;
}

.section {
  padding: 96px 0;
}

/* Header */

.container-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  border-bottom: 1px solid #e7e9fc;
}

/* Навигация */

.container-nav {
  display: flex;
  align-items: center;
}

.container-nav > .logo {
  padding-top: 24px;
  padding-bottom: 24px;
}

.nav-item {
  display: block;
  text-align: start;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--text-color);
}

.nav-item:hover,
.nav-item:focus,
.contact:hover,
.contact:focus {
  color: var(--butt-color-hover);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-item.active {
  position: relative;
  color: var(--butt-color-hover);
}

/* Контакт */

.contact {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.02em;
  color: var(--color-main-font);
}

/* Фильтр работ */

.container-butts {
  padding: 48px 0;
}

.butts {
  margin-bottom: 48px;
}

.service-h,
.team-h {
  margin-bottom: 72px;
}

.butts-punkt {
  padding: 8px 16px;
  border: 1px solid var(--color-butt);
  border-radius: 4px;
  color: var(--butt-color);
  background-color: var(--color-sec-font);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.butts-punkt:hover,
.butts-punkt:focus {
  color: var(--color-white);
  background-color: var(--butt-color-hover);
  border: 1px solid transparent;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list.butts {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 24px;
  width: 270px;
}

/* Наше преимущество / Перечень работ / Услуги */

.service {
  display: none;
  padding-top: 0;
}

.container-project {
  display: block;
}

.container-project.list {
  text-align: start;
}

.card {
  max-width: 396px;
  margin-left: auto;
  margin-right: auto;
}

.card:not(:last-child) {
  margin-bottom: 48px;
}

.service-simple {
  flex-basis: calc((100% - 48px) / 3);
}

.container-tech-section {
  display: inline-block;
  max-width: 396px;
  /* flex-basis: calc((100% - 72px) / 4); */
}

.tech-icon-box {
  display: none;
  padding: 0;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--color-sec-font);
}

.tech-icon {
  padding: 0;
  margin: auto;
  fill: currentColor;
}

.project-card {
  padding: 32px 16px;
  border: 1px solid var(--color-butt);
  border-top: none;
  background-origin: border-box;
}

.thumb {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.aboutcard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 40px 32px 164px;
  background-color: var(--butt-color);
  color: var(--color-sec-font);
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card .link:focus .aboutcard,
.card .link:hover .aboutcard {
  transform: translateY(0);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@keyframes overlayY {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(0);
  }
}

.team-name,
.card-name {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: var(--text-color);
}

.tech-h {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
}

.tech-h {
  text-align: center;
}

.card-name {
  margin-bottom: 8px;
}

.tech-p,
.team-p,
.card-type {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-main-font);
  text-align: start;
}

.container-tech-section:not(:last-child) {
  margin-bottom: 72px;
}

.container-tech.tech-p {
  width: 264px;
  height: 72px;
}

.tech-h {
  margin-bottom: 8px;
  margin-top: 0;
}

.tech-t,
.service-h,
.team-h,
.customers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  text-align: center;
  color: var(--text-color);
}

.card > .link {
  display: block;
  width: 100%;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.card > .link:hover,
.card > .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
}

/* Заказ */

.container-banner {
  text-align: center;
}

.container-banner > button {
  display: block;
  margin: auto;
}

.banner {
  background-color: var(--text-color);
  background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url('../images/background-img/mobile/main-img.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin: 0 auto;
  min-width: 320px;
  padding: 112px 0;
}

.banner-h {
  margin: 0 auto 72px auto;
  max-width: 500px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  color: var(--color-white);
  letter-spacing: 0.02em;
}

.banner-but {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--color-white);
  cursor: pointer;
  background-color: var(--butt-color);
  min-width: 169px;
  height: 56px;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.banner-but:hover,
.banner-but:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--butt-color-hover);
}

/* Наша команда */

.team {
  background-color: var(--color-sec-font);
}

.container-team {
  text-align: center;
}

.container-team > .list {
  margin: 0 auto;
  max-width: 264px;
}

.list > .team-li:not(:last-child) {
  margin-bottom: 72px;
}

.customers > .list {
  display: flex;
  justify-content: center;
  row-gap: 72px;
  column-gap: 16px;
  margin-left: auto;
  margin-right: auto;
}

.team .team-li {
  background-color: var(--color-white);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 2px 1px rgba(46, 47, 66, 0.08);
  width: 264px;
  border-radius: 0px 0px 4px 4px;
}

.team-p,
.team-name {
  text-align: center;
}

.team-name {
  margin-bottom: 8px;
}

.team-person {
  padding: 32px 0;
}

.team-p {
  margin-bottom: 8px;
}

/* Клиенты */

.ul-customers {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}

.icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 88px;
  border: 1px solid var(--color-icon-customs);
  color: var(--color-icon-customs);
  border-radius: 4px;
  background-color: var(--color-white);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-customers {
  fill: currentColor;
}

.icon-box:focus,
.icon-box:hover {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--butt-color-hover);
  border: 1px solid var(--butt-color-hover);
}

.customers-title {
  margin-bottom: 72px;
  line-height: 1.1;
}

/* Логотип */

.logo {
  display: inline-block;
  font-family: var(--sec-font);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--butt-color);
}

.studio {
  color: var(--color-sec-font);
}

.studio-up {
  color: var(--text-color);
}

.textstudio {
  border: 0;
  margin: 0;
  max-width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-sec-font);
}

/* Подвал */

.container-footer {
  min-width: 320px;
  margin: 0;
  padding: 96px 0;
}

.container-footer .logo {
  margin-bottom: 16px;
}

.footer {
  background-color: var(--text-color);
}

.logotip {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.social-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 72px;
}

.social-text {
  display: inline-block;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.social-link {
  display: flex;
  justify-content: center;
  padding: 0;
}

.team-person > .social-link {
  gap: 24px;
}

.social-items > .social-link {
  gap: 16px;
}

.icon-list {
  display: inline-block;
  width: 40px;
  height: 40px;
}

.icon {
  display: flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-social);
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.team-li .icon:hover,
.team-li .icon:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--butt-color-hover);
}

.footer .icon:hover,
.footer .icon:focus {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--color-hover-social);
}

.icon-social {
  display: block;
  fill: var(--color-sec-font);
}

/* Подписка */

.subscribe-text {
  margin-bottom: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-white);
  text-align: center;
}

.subscribe-block-input {
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 16px;
}

.subscribe-block-input input::placeholder {
  color: var(--color-white);
}

.button-subscribe {
  display: inline-flex;
  padding: 8px 24px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--butt-color);
  color: var(--color-white);
}

.button-subscribe:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--butt-color-hover);
}

.button-subscribe-text {
  margin-right: 16px;
  color: var(--color-white);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.button-subscribe-icon {
  fill: currentColor;
}

.subscribe-input {
  box-sizing: border-box;
  padding-left: 16px;
  width: 100%;
  max-width: 398px;
  height: 40px;
  background-color: var(--text-color);
  color: var(--color-white);
  border: 1px solid var(--color-white);
  outline: transparent;
  border-radius: 4px;
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-label {
  position: absolute;
  bottom: 64px;
  left: 18px;
  color: var(--color-white);
  background-color: var(--text-color);
  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;
}

.subscribe-input:not(:placeholder-shown) + .subscribe-label {
  transform: translateY(-20px);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Модальное окно */

.backdrop {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow-y: scroll;
  padding: 96px 18px 0 18px;
}

.backdrop.is-hidden {
  visibility: visible;
  pointer-events: none;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.5);
}

.modal {
  position: relative;
  width: 392px;
  height: 586px;
  padding: 72px 24px 24px;
  margin: 0;
  border-radius: 4px;
  background-color: var(--color-modal);
}

.modal-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 23px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
  background: var(--color-butt);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  background-color: var(--butt-color-hover);
}

.modal-close:hover .icon-modal,
.modal-close:hover .icon-modal {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: var(--color-white);
}

.modal-nametext {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  row-gap: 8px;
}

.modal-field {
  position: relative;
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

.modal-name-field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon-customs);
}

.modal-type-field {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
  height: 40px;
}

.modal-field-icon {
  position: absolute;
  bottom: 14px;
  left: 19px;
  padding: 0;
  margin: 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  fill: currentColor;
}

.modal-type-field:focus {
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--butt-color);
}

.modal-type-field:focus + .modal-field-icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--butt-color);
}

.modal-field > textarea {
  box-sizing: border-box;
  resize: none;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field > input {
  height: 40px;
  padding: 11px 11px 11px 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  outline: transparent;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.privacy-policy {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  margin-bottom: 24px;
}

.modal-field-checkbox {
  position: absolute;
  appearance: none;
  padding: 0;
  margin: 0;
}

.modal-checkbox-icon {
  width: 16px;
  height: 16px;
  background-origin: border-box;
  background-image: url('../images/icon/click-no.svg');
  background-size: contain;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-field-checkbox:checked + .modal-checkbox-icon {
  background-origin: border-box;
  background-image: url('../images/icon/click-yes.svg');
  background-size: contain;
  transition: background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text-privacy {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-icon-customs);
}

.policy {
  color: var(--butt-color);
  text-decoration-line: underline;
  cursor: pointer;
}

.modal-send {
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 169px;
  height: 56px;
  background-color: var(--butt-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--color-white);
}

.modal-send:hover {
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: var(--butt-color-hover);
}

.social-link-contact {
  display: none;
}

/* Медиаправила */

@media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .banner {
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/background-img/mobile/main-img@2x.jpg');
  }
}

@media screen and (max-width: 427px) {
  .mobile-menu-window.is-open .social-link-contact {
    column-gap: calc(100vw * 0.13);
  }

  .mobile-menu-window.is-open .social-link-contact {
    display: inline-flex;
    column-gap: 30px;
  }

  .modal {
    width: 95%;
    max-width: 392px;
    height: 95%;
    max-height: 586px;
    overflow: scroll;
  }
}

@media screen and (min-width: 320px) {
  .tech-p {
    padding: 0;
  }

  .list.butts {
    margin-left: 0;
  }
}

@media screen and (min-width: 396px) {
  .list.butts {
    margin-left: calc((100% - 396px) / 2);
  }
}

@media screen and (min-width: 428px) {
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-window.is-open .social-link-contact {
    display: inline-flex;
    column-gap: 56px;
  }
}

@media screen and (max-width: 767px) {
  /* Мобильное меню */

  .mobile-menu {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    padding: 0;
    background-color: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu:hover .mobile-menu-icon,
  .mobile-menu:focus .mobile-menu-icon {
    stroke: var(--butt-color-hover);
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close {
    position: absolute;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    right: 24px;
    top: 24px;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid #2e2f421a;
    border-radius: 50%;
    background-color: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-close:focus,
  .mobile-menu-close:hover {
    background-color: var(--butt-color-hover);
    fill: var(--color-white);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu-icon {
    stroke: var(--text-color);
  }

  .mobile-menu-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 80px 35px 40px 40px;
    background-color: var(--color-white);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    overflow-y: scroll;
  }

  .mobile-menu-window.is-open {
    transform: translateX(0);
  }

  .nav-menu li:not(:last-child) {
    margin-bottom: 40px;
  }

  .link.contact {
    display: block;
    text-align: start;
  }

  .list.nav-menu:not(:last-child) {
    margin-bottom: auto;
  }

  .address .nav-menu {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
  }

  .nav-menu .email {
    order: 2;
  }

  .nav-menu .tel {
    order: 1;
  }

  .tel .link.contact {
    color: var(--butt-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
  }

  .email .link.contact {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .list {
    display: flex;
    flex-wrap: wrap;
  }

  .mobile-menu-window {
    display: inline-flex;
    align-items: center;
    height: 24px;
    padding: 0;
    background-color: var(--color-white);
  }

  .nav-item {
    padding: 24px 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
  }

  .mobile-menu-close,
  .mobile-menu {
    display: none;
  }

  .menu {
    display: flex;
    align-items: center;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .nav-menu {
    display: inline-flex;
    flex-wrap: nowrap;
    gap: 40px;
    padding: 24px 0;
    margin-left: 120px;
    padding: 0;
  }

  .modal {
    width: 408px;
    height: 586px;
  }

  .nav-item.active::after {
    position: absolute;
    left: 0;
    bottom: 0;
    display: block;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: var(--butt-color-hover);
  }

  .address .nav-menu {
    margin-left: 122px;
  }

  .address > .list.nav-menu {
    flex-direction: column;
    row-gap: 12px;
  }

  .contact {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .banner {
    max-width: 768px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/background-img/tablet/main-img.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/background-img/tablet/main-img@2x.jpg');
    }
  }

  .container-project {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
    justify-content: flex-start;
  }

  .banner-h {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }

  .tech-h {
    text-align: start;
  }

  .tech-p {
    width: 100%;
    padding: 0;
  }

  .container-tech-section {
    width: 356px;
  }

  .container-tech-section:not(:last-child) {
    margin-bottom: 0px;
  }

  .container-team > .list {
    display: inline-flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 64px;
    column-gap: 24px;
  }

  .list.tech {
    justify-content: center;
    row-gap: 72px;
    column-gap: 24px;
  }

  .list > .team-li:not(:last-child) {
    margin-bottom: 0;
  }

  .icon-box {
    width: 168px;
  }

  .container-team > .list {
    max-width: 552px;
  }

  .customers > .list {
    column-gap: 24px;
  }

  .card {
    display: flex;
    width: calc((100% - 24px) / 2);
    margin-left: 0;
    margin-right: 0;
  }

  .card:not(:last-child) {
    margin-bottom: 0;
  }

  .butts-punkt {
    padding: 12px 24px;
  }

  .butts {
    margin-bottom: 72px;
  }

  .list.butts {
    width: 100%;
    justify-content: center;
    margin-left: 0;
  }

  .logotip {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 20px;
    margin-left: 92px;
  }

  .social-items {
    display: inline-flex;
    align-items: flex-start;
  }

  .subscribe-input {
    width: 264px;
  }

  .subscribe-text {
    text-align: start;
  }

  .subscribe-block {
    margin-left: 92px;
  }

  .subscribe-block-input {
    flex-direction: row;
    gap: 24px;
  }

  .subscribe-label {
    bottom: 8px;
    left: 18px;
  }
}

@media screen and (min-width: 1200px) {
  .section {
    padding-bottom: 120px;
  }

  .container {
    max-width: 1160px;
  }

  .nav-menu {
    margin-left: 76px;
  }

  .address .nav-menu {
    margin-left: 0;
  }

  .container-nav .logo {
    padding-left: 0;
  }

  .container-nav .nav-menu {
    margin-left: 76px;
  }

  .address > .list.nav-menu {
    flex-wrap: nowrap;
    flex-direction: row;
  }

  .banner {
    max-width: 1440px;
    background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
      url('../images/background-img/desktop/main-img.jpg');
  }

  @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
    .banner {
      background-image: linear-gradient(to bottom, rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
        url('../images/background-img/desktop/main-img@2x.jpg');
    }
  }

  .modal {
    width: 408px;
    height: 584px;
  }

  .address {
    margin-left: 331px;
    margin-right: auto;
  }

  .contact {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .banner {
    height: 600px;
  }

  .banner-h {
    margin-top: 68px;
    margin-bottom: 48px;
  }

  .service {
    display: block;
  }

  .tech-icon-box {
    display: flex;
  }

  .tech-h {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .container-project {
    row-gap: 48px;
  }

  .container-tech-section {
    width: 264px;
  }

  .service .list {
    gap: 24px;
  }

  .container-team > .list {
    max-width: 1200px;
  }

  .card {
    width: calc((100% - 48px) / 3);
  }

  .customers > .list {
    padding: 0;
  }

  .container-footer {
    padding: 100px 0;
  }

  .icon-box {
    width: 168px;
  }

  .logotip {
    margin-right: 120px;
    margin-left: auto;
  }

  .subscribe-block {
    margin-left: 80px;
  }

  .container-footer {
    height: 312px;
  }

  .footer .container {
    display: flex;
    margin-right: auto;
  }
}
